<section class="advantages-section">
  <div class="container">
    <div class="advantages-content">
      <h2 class="title-adv">
        BEZPIECZEŃSTWO<br />HIGIENA<br />ZDROWIE KLIENTA
      </h2>
      <div class="advantages-item">
        <h3 class="advantages-item-title">Wysyłka narzędzi na całą Polskę</h3>
        <p class="advantages-item-text">
          Masz daleko do Krakowa? Nie musisz dostarczać narzędzia osobiście!
          Zorganizujemy przesyłkę narzędzi do twego Paczkomatu, a koszty
          przesyłki doliczymy do faktury.
        </p>
      </div>
      <div class="advantages-item">
        <h3 class="advantages-item-title">Do 4 narzędzi do jednego pakietu</h3>
        <p class="advantages-item-text">
          W przypadku narzędzi kosmetycznych pakujemy maksymalnie 4 narzędzia do
          jadnego opakowania papierowo-foliowego.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/advantages/Logo_adv_dt_x1.png 1x,
            ./img/advantages/Logo_adv_dt_x2.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/advantages/Logo_adv_dt_x1.png 1x,
            ./img/advantages/Logo_adv_dt_x2.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/advantages/Logo_adv_tab_x1.png 1x,
            ./img/advantages/Logo_adv_tab_x2.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/advantages/Logo_adv_mob_x1.png 1x,
            ./img/advantages/Logo_adv_mob_x2.png 2x
          "
          media="(min-width: 360px)"
        />
        <img
          src="../img/advantages/Logo_adv_mob_x1.png"
          alt="Logo"
          class="about-img"
        />
      </picture>
      <div class="advantages-item">
        <h3 class="advantages-item-title">Umowa akceptowana przez Sanepid</h3>
        <p class="advantages-item-text">
          Nasza umowa została zaakceptowana przez Sanepid. Współpracując z nami,
          możesz mieć pewność, że kontrola Sanepidu zakończy się sukcesem.
        </p>
      </div>
      <div class="advantages-item">
        <h3 class="advantages-item-title">Abonamenty miesięczne od 100 zł</h3>
        <p class="advantages-item-text">
          Dla klientów decydujących się na długoterminową współpracę oferujemy
          szeroki wybór abonamentów miesięcznych.
        </p>
        <a href="#offer" class="button advantages-item-btn" >SPRAWDŹ OFERTĘ</a>
      </div>
    </div>
  </div>
</section>
