<section class="advantages-section">
  <div class="container adv-container">
    <div class="advantages-content">
      <h2 class="title-adv">
        BEZPIECZEŃSTWO<br />HIGIENA<br />ZDROWIE KLIENTA
      </h2>
      <div class="advantages-items-wrap">
        <div class="advantages-item wysyłka-item">
          <h3 class="advantages-item-title">Wysyłka narzędzi na całą Polskę</h3>
          <p class="advantages-item-text">
            Masz daleko do Krakowa? Nie musisz dostarczać narzędzia osobiście!
            Zorganizujemy przesyłkę narzędzi do twego Paczkomatu, a koszty
            przesyłki doliczymy do faktury.
          </p>
        </div>
        <div class="advantages-item four-naz-item">
          <h3 class="advantages-item-title">
            Do 4 narzędzi do jednego pakietu
          </h3>
          <p class="advantages-item-text">
            W przypadku narzędzi kosmetycznych pakujemy maksymalnie 4 narzędzia
            do jadnego opakowania papierowo-foliowego.
          </p>
        </div>
        <div class="advantages-item h24-item">
          <h3 class="advantages-item-title">
            Wykonujemy usługę w ciągu 24 godziny
          </h3>
          <p class="advantages-item-text">
            Nie czekaj dłużej niż 24 godziny! Jeśli dostarczysz narzędzia do
            naszego punktu sterylizacji dzisiaj, już jutro odbierzesz je
            sterylne.
          </p>
        </div>
        <div class="advantages-item dla-firm-item">
          <h3 class="advantages-item-title">
            Sterylizacja narzędzi dla firm i osób prywatnych
          </h3>
          <p class="advantages-item-text">
            Świadczymy usługi nie tylko dla firm, ale także dla osób prywatnych.
            Nie musisz prowadzić działalności gospodarczej, aby podpisać z nami
            umowę.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/advantages/Logo_adv_dt_x1.png 1x,
              ./img/advantages/Logo_adv_dt_x2.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/Logo_adv_dt_x1.png 1x,
              ./img/advantages/Logo_adv_dt_x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/advantages/Logo_adv_tab_x1.png 1x,
              ./img/advantages/Logo_adv_tab_x2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/advantages/Logo_adv_mob_x1.png 1x,
              ./img/advantages/Logo_adv_mob_x2.png 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="../img/advantages/Logo_adv_mob_x1.png"
            alt="Logo"
            class="advantages-bg-img logo-item"
          />
        </picture>
        <div class="advantages-item cert-item">
          <h3 class="advantages-item-title">Certyfikat "Bezpieczny Gabinet"</h3>
          <p class="advantages-item-text">
            Dla gabinetów z wykupionym abonamentem miesięcznym oferujemy
            certyfikat "Bezpieczny Gabinet", który stanowi potwierdzenie dla
            Klientów, że narzędzia w Twoim salonie są sterylizowane na bieżąco.
          </p>
        </div>
        <div class="advantages-item">
          <h3 class="advantages-item-title umowa-item">
            Umowa akceptowana przez Sanepid
          </h3>
          <p class="advantages-item-text">
            Nasza umowa została zaakceptowana przez Sanepid. Współpracując z
            nami, możesz mieć pewność, że kontrola Sanepidu zakończy się
            sukcesem.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/advantages/certificate_1x.jpg 1x,
              ./img/advantages/certificate_2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/advantages/certificate_1x.jpg 1x,
              ./img/advantages/certificate_2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/advantages/certificate_1x.jpg 1x,
              ./img/advantages/certificate_2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/advantages/certificate_1x.jpg 1x,
              ./img/advantages/certificate_2x.jpg 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/advantages/certificate_1x.jpg"
            alt="Certyfikat 'Bezpieczny Gabinet'"
            class="advantages-cert-img cert-img-item"
          />
        </picture>
        <div class="advantages-item od-100zl-item">
          <h3 class="advantages-item-title">Abonamenty miesięczne od 100 zł</h3>
          <p class="advantages-item-text">
            Dla Klientów decydujących się na długoterminową współpracę oferujemy
            szeroki wybór abonamentów miesięcznych.
          </p>
          <a href="#offer" class="button advantages-item-btn">SPRAWDŹ OFERTĘ</a>
        </div>
      </div>
    </div>

    <!-- ===================== Desktop ======================== -->

    <div class="advantages-content-dt">
      <div class="advantages-items-wrap-dt">
        <div class="adv-row-wrap-dt row-1">
          <div class="advantages-item-dt wysyłka-item-dt">
            <h3 class="advantages-item-title-dt">
              Wysyłka narzędzi na całą Polskę
            </h3>
            <p class="advantages-item-text-dt">
              Masz daleko do Krakowa? Nie musisz dostarczać narzędzia osobiście!
              Zorganizujemy przesyłkę narzędzi do twego Paczkomatu, a koszty
              przesyłki doliczymy do faktury.
            </p>
          </div>
          <div class="advantages-item-dt four-naz-item-dt">
            <h3 class="advantages-item-title-dt">
              Do 4 narzędzi do jednego pakietu
            </h3>
            <p class="advantages-item-text-dt">
              W przypadku narzędzi kosmetycznych pakujemy maksymalnie 4
              narzędzia do jadnego opakowania papierowo-foliowego.
            </p>
          </div>
          <h2 class="title-adv-dt">
            BEZPIECZEŃSTWO<br />HIGIENA<br />ZDROWIE KLIENTA
          </h2>
        </div>
        <div class="adv-row-wrap-dt row-2">
          <div class="advantages-item-dt">
            <h3 class="advantages-item-title-dt umowa-item-dt">
              Umowa akceptowana przez Sanepid
            </h3>
            <p class="advantages-item-text-dt">
              Nasza umowa została zaakceptowana przez Sanepid. Współpracując z
              nami, możesz mieć pewność, że kontrola Sanepidu zakończy się
              sukcesem.
            </p>
          </div>
          <picture>
            <source
              srcset="
                ./img/advantages/Logo_adv_dt_x1.png 1x,
                ./img/advantages/Logo_adv_dt_x2.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/advantages/Logo_adv_dt_x1.png 1x,
                ./img/advantages/Logo_adv_dt_x2.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/advantages/Logo_adv_tab_x1.png 1x,
                ./img/advantages/Logo_adv_tab_x2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/advantages/Logo_adv_mob_x1.png 1x,
                ./img/advantages/Logo_adv_mob_x2.png 2x
              "
              media="(min-width: 360px)"
            />
            <img
              src="../img/advantages/Logo_adv_mob_x1.png"
              alt="Logo"
              class="advantages-bg-img-dt logo-item-dt"
            />
          </picture>
          <div class="advantages-item-dt dla-firm-item-dt">
            <h3 class="advantages-item-title-dt">
              Sterylizacja narzędzi dla firm i osób prywatnych
            </h3>
            <p class="advantages-item-text-dt">
              Świadczymy usługi nie tylko dla firm, ale także dla osób
              prywatnych. Nie musisz prowadzić działalności gospodarczej, aby
              podpisać z nami umowę.
            </p>
          </div>
        </div>
        <div class="adv-row-wrap-dt row-3">
          <picture>
            <source
              srcset="
                ./img/advantages/certificate_1x.jpg 1x,
                ./img/advantages/certificate_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/advantages/certificate_1x.jpg 1x,
                ./img/advantages/certificate_2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/advantages/certificate_1x.jpg 1x,
                ./img/advantages/certificate_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/advantages/certificate_1x.jpg 1x,
                ./img/advantages/certificate_2x.jpg 2x
              "
              media="(min-width: 360px)"
            />
            <img
              src="./img/advantages/certificate_1x.jpg"
              alt="Certyfikat 'Bezpieczny Gabinet'"
              class="advantages-cert-img-dt cert-img-item-dt"
            />
          </picture>
          <div class="advantages-item-dt cert-item-dt">
            <h3 class="advantages-item-title-dt">
              Certyfikat "Bezpieczny Gabinet"
            </h3>
            <p class="advantages-item-text-dt">
              Dla gabinetów z wykupionym abonamentem miesięcznym oferujemy
              certyfikat "Bezpieczny Gabinet", który stanowi potwierdzenie dla
              Klientów, że narzędzia w Twoim salonie są sterylizowane na
              bieżąco.
            </p>
          </div>
          <div class="advantages-item-dt h24-item-dt">
            <h3 class="advantages-item-title-dt">
              Wykonujemy usługę w ciągu 24 godziny
            </h3>
            <p class="advantages-item-text-dt">
              Nie czekaj dłużej niż 24 godziny! Jeśli dostarczysz narzędzia do
              naszego punktu sterylizacji dzisiaj, już jutro odbierzesz je
              sterylne.
            </p>
          </div>
          <div class="advantages-item-dt od-100zl-item-dt">
            <h3 class="advantages-item-title-dt">
              Abonamenty miesięczne od 100 zł
            </h3>
            <p class="advantages-item-text-dt">
              Dla Klientów decydujących się na długoterminową współpracę
              oferujemy szeroki wybór abonamentów miesięcznych.
            </p>
            <a href="#offer" class="button advantages-item-btn-dt"
              >SPRAWDŹ OFERTĘ</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
