<section class="calc-section">
  <div class="container calc-container">
    <h3 class="calc-title">
      Oblicz, który abonament będzie najbardziej opłacalny dla Ciebie
    </h3>
    <div class="calc-content">
      <p class="calc-text">
        Podaj, ile pakietów planujesz sterylizować miesięcznie:
      </p>
      <input
        type="number"
        id="packets"
        class="calc-input"
        placeholder="Podaj liczbę pakietow"
        min="1"
      />
      <button class="calc-button button" onclick="calculatePlan()">
        Oblicz najlepszy abonament
      </button>
      <div class="calc-result" id="result"></div>
    </div>
  </div>
</section>
