<section class="delivery-section" id="delivery">
  <div class="container deliver-container">
    <h2 class="title delivery-title">ODBIÓR I DOSTAWA NARZĘDZI</h2>
    <div class="delivery-content-wrapper">
      <div class="delivery-text-wrapper">
      	<p class="delivery-text">
	        Na terenie całego Krakowa oferujemy usługę odbioru i dowozu narzędzi pod
	        wskazany przez Klienta adres. Jesteś osobą zapracowaną i nie masz czasu,
	        aby osobiście dostarczyć narzędzia do naszego punktu? Zrobimy to za
	        Ciebie! Zamów naszego kuriera - odbierzemy Twoje narzędzia w możliwie
	        najbliższym terminie, a już następnego dnia roboczego wrócą do Ciebie
	        wysterylizowane i gotowe do pracy z klientami. <br />
	      </p>
	      <p class="delivery-text">
	        Przed przekazaniem narzędzi kurierowi należy je odpowiednio przygotować:
	        umieścić w plastikowym, zamykanym pojemniku, oznaczonym danymi firmy lub
	        osoby prywatnej. Zalecamy również odpowiednie zabezpieczenie ostrzy i
	        delikatnych elementów, aby uniknąć ich uszkodzenia w trakcie transportu.
	        Zgłoszenia dotyczące odbioru narzędzi przyjmujemy najpóźniej na dzień
	        przed planowaną datą przyjazdu kuriera. Usługa jest dodatkowo płatna.
	      </p>
      </div>
      <div class="delivery-img">
      	<picture>
	        <source
	          srcset="
	            ./img/delivery/delivery.jpg 1x,
	            ./img/delivery/delivery.jpg 2x
	          "
	          media="(min-width: 1440px)"
	        />
	        <source
	          srcset="
	            ./img/delivery/delivery.jpg 1x,
	            ./img/delivery/delivery.jpg 2x
	          "
	          media="(min-width: 1200px)"
	        />
	        <source
	          srcset="
	            ./img/delivery/delivery.jpg 1x,
	            ./img/delivery/delivery.jpg 2x
	          "
	          media="(min-width: 768px)"
	        />
	        <source
	          srcset="
	            ./img/delivery/delivery.jpg 1x,
	            ./img/delivery/delivery.jpg 2x
	          "
	          media="(min-width: 360px)"
	        />
	        <img
	          src="./img/delivery/delivery.jpg"
	          alt="Przekazanie narzędzi do sterylizacji"
	          class="delivery-img"
	        />
	      </picture>
      </div>
    </div>
  </div>
</section>
