<section class="faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Czy muszę prowadzić działalność, aby sterylizować u Was narzędzia?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Czy muszę przekazywać do sterylizacji już zapakowane narzędzia?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Po przekazaniu narzędzi do sterylizacji, kiedy będą gotowe do
            odbioru?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Nie mam dużo narzędzi i chcę je sterylizować raz na miesiąc. Czy
            muszę w takim razie podpisywać z Wami umowę?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Przy abonamencie Steryl 30, czy muszę przekazać do sterylizacji 30
            pakietów jednocześnie, czy mogę to robic raz w tygodniu?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">Na jak długo podpisywana jest umowa?</p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">Jakie dane są potrzebne do umowy?</p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Co w przypadku, jeśli w ciągu miesiąca wysterylizuję mniej pakietów
            niż przewiduje abonament?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Czy mogę zapoznać się z Waszą umową przed podjęciem decyzji?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Jestem spoza Krakowa, w jaki sposób mogę wysyłać do Was narzędzia?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">Jak przygotować narzędzia do wysyłki?</p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Jak powinna wyglądać instrukcja pakowania narzędzi?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Jestem spoza Krakowa. Ile czasu trwa cała procedura razem z
            przesyłką w dwie strony?
          </p>
        </div>
      </li>

      <li class="faq-item">
        <svg width="16" height="16" class="faq-item-icon">
          <use href="./img/icons.svg#plus_faq"></use>
        </svg>
        <div class="faq-item-wrap">
          <p class="faq-item-text">
            Jak mogę podpisać umowę na sterylizację wysyłkową?
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
