<section class="faq-section" id="faq">
  <div class="faq-section-wrapper">
    <div class="container faq-container">
      <h2 class="title faq-title">FAQ</h2>
      <ul class="faq-list">
        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Czy muszę prowadzić działalność, aby sterylizować u Was narzędzia?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Nie, nie muszą Państwo prowadzić działalności. Sterylizujemy
            narzędzia zarówno dla firm, jak i osób prywatnych.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Czy muszę przekazywać do sterylizacji już zapakowane narzędzia?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Do sterylizacji przyjmujemy narzędzia umyte oraz wstępnie
            zdezynfekowane. Jeżeli nie posiadają Państwo myjki ultradźwiękowej
            lub wanienki do moczenia narzędzi, można użyć sprayu do dezynfekcj
            narzędzi. Nasza usługa obejmuje dezynfekcję właściwą, konserwację,
            pakowanie oraz sterylizację. Klient może dostarczać już zapakowane
            narzędzia, ale prosimy pamiętać, że wszystkie wymienione czynności
            już są zawarte w cenie sterylizacji.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Co potrzebuję, żeby wysłać do Was narzędzia do sterylizacji „na
              sztuki”?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Aby wysłać narzędzia do sterylizacji „na sztuki”, należy najpierw
            zapoznać się z naszym Regulaminem oraz klauzulą informacyjną
            dotyczącą ochrony danych osobowych (RODO). <br />
            Następnie konieczne jest wypełnienie następujących dokumentów:
            <br />- Karta Klienta – dokument ten należy wypełnić tylko jeden
            raz, przy pierwszej przesyłce. <br />- Karta Przekazania Narzędzi –
            ten formularz należy wypełniać za każdym razem i dołączać do każdej
            przesyłki. <br />
            Wszystkie wspomniane informacje oraz formularze znajdziesz w stopce
            (footerze) naszej strony internetowej. <br />
            Po wypełnieniu dokumentów narzędzia należy odpowiednio przygotować
            do wysyłki: umieścić w zamykanym plastikowym pojemniku oraz
            zabezpieczyć przed uszkodzeniem. Do przesyłki dołącz wymagane
            dokumenty, a następnie nadaj całość do Paczkomatu InPost.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Po przekazaniu narzędzi do sterylizacji, kiedy będą gotowe do
              odbioru?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Czas wykonania całego procesu to 24 godziny.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Nie mam dużo narzędzi i chcę je sterylizować raz na miesiąc. Czy
              muszę w takim razie podpisywać z Wami umowę?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Nie muszą Państwo podpisywać umowy. Można sterylizować narzędzia „na
            sztuki”. Koszt sterylizacji jednego pakietu w tym przypadku wynosi
            6,00 zł.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Przy abonamencie Steryl 30, czy muszę przekazać do sterylizacji 30
              pakietów jednocześnie, czy mogę to robic raz w tygodniu?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Narzędzia można dostarczać zgodnie z Państwa wygodą. Maksymalna
            częstotliwość przekazania wynosi dwa razy w tygodniu.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              W jaki sposób mogę zamówić odbiór narzędzi przez Waszego kuriera?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Aby zlecić odbiór narzędzi przez naszego kuriera, prosimy o kontakt
            co najmniej dzień wcześniej — SMS-em lub telefonicznie. W przypadku
            zgłoszenia w tym samym dniu nie możemy zagwarantować realizacji
            usługi.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              W jakich godzinach możliwy jest odbiór lub dostawa narzędzi przez
              kuriera?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Kurier odbiera i dostarcza narzędzia wyłącznie w godzinach od 9:00
            do 14:00.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Nasz zakład działa od godziny 11:00. Czy można umówić się na
              odbiór po tej godzinie?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Niestety nie ma możliwości ustalenia konkretnej godziny odbioru lub
            dostawy narzędzi. W zależności od liczby Klientów kurier
            samodzielnie ustala kolejność wizyt. Oznacza to, że w przypadku
            współpracy z nami, która obejmuje odbiór lub dostawę przez naszego
            kuriera, Klient powinien być dostępny w godzinach od 9:00 do 13:00
            lub posiadać miejsce, w którym może zostawić narzędzia do odbioru
            przez kuriera.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Ile kosztuje odbiór i dostawa narzędzi na terenie Krakowa?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Koszt odbioru lub dostawy narzędzi na terenie Krakowa wynosi 12 zł
            brutto za jeden przyjazd kuriera – dotyczy to większości obszaru
            miasta. W najbardziej oddalonych rejonach Krakowa cena może wynosić
            do 15 zł. Nie dojeżdżamy do Klientów znajdujących się w obrębie
            Starego Miasta (wewnątrz Plantów).
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">Na jak długo podpisywana jest umowa?</p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Najkrótszy okres umowy wynosi 6 miesięcy. Po tym czasie przechodzi
            ona na czas nieokreślony z miesięcznym okresem wypowiedzenia. Nie ma
            możliwości wypowiedzenia umowy przez pierwsze 6 miesięcy.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">Jakie dane są potrzebne do umowy?</p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Dla firm oraz osób prowadzących działalność rejestrowaną i
            nierejestrowaną potrzebujemy nazwy firmy/imię i nazwisko
            przedsiębiorcy, adres rejestracji, NIP, e-mail, telefon, wybrany
            abonament oraz datę rozpoczęcia współpracy. Dla osób prywatnych
            potrzebujemy imię i nazwisko, adres zamieszkania, PESEL, e-mail,
            telefon, wybrany abonament oraz datę rozpoczęcia współpracy.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Co w przypadku, jeśli w ciągu miesiąca wysterylizuję mniej
              pakietów niż przewiduje abonament?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Podpisując umowę, Klient akceptuje współpracę na zasadzie abonamentu
            miesięcznego. Oznacza to, że niezależnie od liczby wysterylizowanych
            pakietów miesięczna kwota abonamentowa jest stała. W przypadku
            przekroczenia abonamentu, do faktury doliczamy opłatę za każdy
            pakiet przekraczający ustalony limit.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Czy mogę zapoznać się z Waszą umową przed podjęciem decyzji?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Tak, oczywiście. Wzór umowy znajduje się na samym dole naszej strony
            internetowej – w stopce (footerze), pod punktem "Pliki do pobrania".
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Jestem spoza Krakowa, w jaki sposób mogę wysyłać do Was narzędzia?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Klienci spoza Krakowa mogą wysyłać paczki z narzędziami do
            Paczkomatu InPost. Dane do nadania przesyłki: Paczkomat InPost
            KRA16M, email: sterylserwis@gmail.com, tel.: 739 015 287.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Ile kosztuje wysyłka narzędzi do Was i z powrotem? Kto za to
              płaci?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Koszty wysyłki w obie strony ponosi Klient. Do nas wysyłasz paczkę
            do Paczkomatu zgodnie z cennikiem InPost. Przesyłka zwrotna jest w
            cenie 20 zł brutto.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">Jak przygotować narzędzia do wysyłki?</p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Czyste, wstępnie zdezynfekowane narzędzia należy luźno umieścić w
            zamykanym plastikowym pudełku, zabezpieczając je przed uszkodzeniem
            w trakcie transportu (końcówki silikonowe, papier, folia bąbelkowa).
            Pudełko należy podpisać danymi Klienta oraz koniecznie dołączyć
            kartkę z wykazem wysyłanych narzędzi i instrukcją pakowania.
            Najlepiej dodatkowo umieścić pudełko w kartonie.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Jak powinna wyglądać instrukcja pakowania narzędzi?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Instrukcja do pakowania narzędzi powinna być przygotowana w języku
            polskim i napisana w sposób czytelny oraz łatwy do zrozumienia.
            Każde narzędzie trzeba opisać według rodzaju (np. cążki, nożyczki,
            sondy itp.), gdyż nie jesteśmy w stanie rozpoznać ich na podstawie
            rozmiaru, nazwy producenta ani dodatkowych cech, takich jak liczba
            kresek na frezach. Frezy jesteśmy w stanie rozrużniać jedynie według
            ich kształtów. <br />
            Prosimy kierować się poniższym przykładem: <br />
            <div class="faq-insrtuction-wrapper">
              <div class="faq-instruction">
                <p class="faq-instruction-title">
                  Prawidłowo <span style="color: green">&#10003;</span>
                </p>

                Studio stylizacji paznokci Anna Kowalska <br />
                tel.: 888 777 666 <br />
                <br />
                Cążki - 12 <br />
                Kopytka - 12 <br />
                Frez do masy - 12 <br />
                Frez łezka - 5 <br />
                Frez ścięty stożek - 7 <br />
                Pęsety - 5 <br />
                <br />
                PAKOWANIE: <br />
                - cążki + kopytko + frez do masy + łezka x5 <br />
                - cążki + kopytko + frez do masy + ścięty stożek x7 <br />
                - pęseta (każda osobno) x5
              </div>
              <div class="faq-instruction">
                <p class="faq-instruction-title">
                  Nieprawidłowo <span style="color: red">&#x274C;</span>
                </p>
                Imię i nazwisko: - <br />
                tel.: - <br />
                <br />
                Cążki - 12 <br />
                Kopytka - 12 <br />
                Frezy - 24 <br />
                Pęsety - 5 <br />
                <br />
                PAKOWANIE: <br />
                - cążki Staleks 50|2 + kopytko duże + frez do opiłowania + łezka
                mała (2 czerwone kreski) x5 <br />
                - cążki Neonail + dłutko małe + frez do opiłowania + frez do
                podniesienia (niebieska kreska) x7 <br />
                - pęseta (każda osobno) x5
              </div>
            </div>
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Jestem spoza Krakowa. Ile czasu trwa cała procedura razem z
              przesyłką w dwie strony?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Realizacja naszych usług trwa 24 godziny od momentu, gdy przesyłka
            Klienta trafia do naszego Paczkomatu InPost. Do tego należy doliczyć
            czas na transport paczki do naszego Paczkomatu, a następnie na
            przesyłkę do Państwa miejscowości. Cały proces zajmuje zazwyczaj 4-5
            dni.
          </div>
        </li>

        <li class="faq-item">
          <div class="faq-item-wrap">
            <div class="faq-item-icon"></div>
            <p class="faq-item-text">
              Jak mogę podpisać umowę na sterylizację wysyłkową?
            </p>
          </div>
          <div class="faq-item-answer">
            <div class="line-decorator"></div>
            Jeśli są Państwo zdecydowani na długoterminową współpracę, prosimy o
            przesłanie na nasz e-mail sterylserwis@gmail.com danych działalności
            lub osobistych. Po wygenerowaniu umowy prześlemy ją na Państwa maila
            do akceptacji. Jeśli umowa bedzie Państwu odpowiadała, wystarczy
            dołączyć dwa podpisane egzemplarze do pierwszej wysyłki narzędzi.
            Jeden z egzemplarzy zostanie podpisany przez nas oraz odesłany
            Klientowi razem z wysterylizowanymi narzędziami.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
