<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top-wrap">
      <h3 class="footer-title">
        Punkt sterylizacji narzędzi <br />
        STERYL SERWIS
      </h3>
      <ul class="footer-menu">
        <li class="footer-menu-item"><a href="#about">O nas</a></li>
        <li class="fooer-menu-item"><a href="#what">Co sterylizujemy</a></li>
        <li class="footer-menu-item"><a href="#offer">Oferta</a></li>
        <li class="footer-menu-item"><a href="#shipping">Wysyłka</a></li>
        <li class="footer-menu-item"><a href="#faq">FAQ</a></li>
        <li class="footer-menu-item"><a href="#contact">Kontakt</a></li>
      </ul>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="./regulamin.html">Regulamin</a>
        </li>
        <li class="footer-list-item">
          <a href="./private_policy.html">Polityka prywatności</a>
        </li>
        <li class="footer-list-item">
          <a
            class="footer-fb-link"
            href="https://www.facebook.com/sterylserwis"
          >
            <svg width="30" height="30" class="footer-fb-icon">
              <use href="./img/icons.svg#facebook_logo"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-address">
        osiedle Dywizjonu 303 62F,<br />
        31-875 Kraków <br />
        +48 739 015 287 <br />
        sterylserwis@gmail.com
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-copiring-wrap">
      <p class="footer-copiring">© 2024 Steryl Serwis. </p>

      <p class="footer-copiring">Wszelkie prawa zastrzeżone.</p>
    </div>
  </div>
</footer>
