<header class="header">
  <div class="header-top">
    <div class="header-address-line">
      <div class="address-line-content">
        <div class="header-adress">
          <svg width="16" height="16" class="top-header-icon">
            <use href="./img/icons.svg#location_contacts"></use>
          </svg>
          <p class="header-address-text">os. Dywizjonu 303 62F/LU2, Kraków</p>
        </div>
        <div class="header-shedule">
          <svg width="16" height="16" class="top-header-icon">
            <use href="./img/icons.svg#clock"></use>
          </svg>
          <p class="header-shedule-text">pn.-pt. 10:00 - 18:00</p>
        </div>
      </div>
    </div>
    <div class="container header-container">
      <div class="header-top-content">
        <a href="index.html">
          <picture>
            <source
              srcset="./img/header/Logo_1x.png 1x, ./img/header/Logo_2x.png 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/header/Logo_1x.png 1x, ./img/header/Logo_2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="./img/header/Logo_1x.png 1x, ./img/header/Logo_2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/header/Logo_mob_1x.png 1x,
                ./img/header/Logo_mob_1x.png 2x
              "
              media="(min-width: 360px)"
            />
            <img
              class="header-logo"
              src="./img/header/Logo_mob_1x.png"
              alt="Logo"
            />
          </picture>
        </a>
        <nav class="menu">
          <ul class="header-menu">
            <li class="header-menu-item"><a href="#about">O nas</a></li>
            <li class="header-menu-item co-item">
              <a href="#what">Co sterylizujemy</a>
            </li>
            <li class="header-menu-item"><a href="#offer">Oferta</a></li>
            <li class="header-menu-item"><a href="#shipping">Wysyłka</a></li>
            <li class="header-menu-item"><a href="#faq">FAQ</a></li>
            <li class="header-menu-item"><a href="#contact">Kontakt</a></li>
          </ul>
        </nav>
        <div class="header-contact">
          <svg width="22" height="22" class="header-tel-icon">
            <use href="./img/icons.svg#phone-call"></use>
          </svg>
          <a href="tel:+48739015287" class="header-tel">739 015 287</a>
        </div>
        <div class="burger-menu-wrap">
          <svg width="22" height="22" class="burger-menu">
            <use href="./img/icons.svg#menu-burger"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="container header-bottom">
    <div class="title-wrap">
      <h1 class="title-main">
        PUNKT STERYLIZACJI NARZĘDZI <br />
        <span class="green-text">STERYL SERWIS</span>
      </h1>
      <h3 class="header-subtitle">
        Działaj bezpiecznie i skutecznie razem z nami!
      </h3>
    </div>
  </div>
</header>
