<section class="how-section">
 <div class="how-section-wrapper">
 	 <div class="container how-container">
	    <h2 class="title how-title">JAK DZIAŁAMY</h2>
	    <ul class="how-list">
	      <li class="how-list-item">
	        <h3 class="how-item-title">Przyjęcie i weryfikacja narzędzi</h3>
	        <div class="how-item-icon" data-number="1"></div>
	        <div class="item-description">
	          Przyjmujemy narzędzia w naszym punkcie sterylizacji, dokładnie liczymy
	          ich ilość oraz sprawdzamy pod kątem korozji i ewentualnych uszkodzeń,
	          aby upewnić się, że spełniają wszystkie wymagania do dalszej obróbki.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Dezynfekcja właściwa</h3>
	          <div class="how-item-icon" data-number="2"></div>
	        </div>
	        <div class="item-description">
	          Narzędzia dezynfekujemy w myjce ultradźwiękowej, używając
	          profesjonalnych środków w odpowiednim roztworze. To skutecznie usuwa
	          zanieczyszczenia, nawet z trudno dostępnych miejsc.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Płukanie i suszenie</h3>
	          <div class="how-item-icon" data-number="3"></div>
	        </div>
	        <div class="item-description">
	          Po dezynfekcji narzędzia dokładnie płuczemy i suszymy na papierowych
	          ręcznikach w miejscu z mechaniczną wentylacją, co gwarantuje ich pełną
	          czystość i suchość.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Konserwacja antykorozyjna</h3>
	          <div class="how-item-icon" data-number="4"></div>
	        </div>
	        <div class="item-description">
	          Suche narzędzia zabezpieczamy olejem antykorozyjnym w miejscach
	          łączenia ruchomych elementów. Chroni to powierzchnie przed korozją,
	          zapewnia płynność ruchu oraz wydłuża żywotność narzędzi.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Pakowanie</h3>
	          <div class="how-item-icon" data-number="5"></div>
	        </div>
	        <div class="item-description">
	          Narzędzia pakujemy w papierowo-foliowe rękawy z dołączonym wskaźnikiem
	          chemicznym klasy 4, który potwierdza poprawność wykonania procesu
	          sterylizacji.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Sterylizacja w autoklawie</h3>
	          <div class="how-item-icon" data-number="6"></div>
	        </div>
	        <div class="item-description">
	          Narzędzia pakujemy w papierowo-foliowe rękawy z dołączonym wskaźnikiem
	          chemicznym klasy 4, który potwierdza poprawność wykonania procesu
	          sterylizacji.
	        </div>
	      </li>
	      <li class="how-list-item">
	        <div class="how-item-wrapper">
	          <h3 class="how-item-title">Przechowywanie sterylnych narzędzi</h3>
	          <div class="how-item-icon" data-number="7"></div>
	        </div>
	        <div class="item-description">
	          Po zakończeniu sterylizacji narzędzia są suszone do pełnego
	          wyschnięcia, następnie układane w pudełkach na sterylne narzędzia i
	          umieszczane w specjalnej szafie do ich przechowywania.
	        </div>
	      </li>
	    </ul>
	  </div>
 </div>
</section>
