<section class="how-section">
  <div class="container how-container">
    <h2 class="title how-title">JAK DZIAŁAMY</h2>
	 <ul class="how-list">
		<li class="how-list-item">
			<h3 class="how-item-title">Przyjęcie i weryfikacja narzędzi </h3>
			<div class="how-item-number">1</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Dezynfekcja właściwa</h3>
			<div class="how-item-number">2</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Płukanie i suszenie</h3>
			<div class="how-item-number">3</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Konserwacja antykorozyjna</h3>
			<div class="how-item-number">4</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Pakowanie</h3>
			<div class="how-item-number">5</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Sterylizacja w autoklawie</h3>
			<div class="how-item-number">6</div>
		</li>
		<li class="how-list-item">
			<h3 class="how-item-title">Przechowywanie sterylnych narzędzi</h3>
			<div class="how-item-number">7</div>
		</li>
	 </ul>
  </div>
</section>
