<div class="backdrop">
  <div class="container mob-menu-container">
    <div class="menu-header">
      <button class="menu-close-btn" type="button">
        <svg width="8" height="8" class="menu-close-icon">
          <use href="./img/icons.svg#close_icon"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item"><a href="#about">O nas</a></li>
        <li class="mob-menu-item"><a href="#what">Co sterylizujemy</a></li>
        <li class="mob-menu-item"><a href="#offer">Oferta</a></li>
		  <li class="mob-menu-item"><a href="#delivery">Dostawa</a></li>
        <li class="mob-menu-item"><a href="#shipping">Wysyłka</a></li>
        <li class="mob-menu-item"><a href="#faq">FAQ</a></li>
        <li class="mob-menu-item"><a href="#contact">Kontakt</a></li>
      </ul>
    </nav>
    <div class="line-decorator"></div>
    <div class="mob-menu-contacts">
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#house_contacts"></use>
        </svg>
        <p class="menu-address">os. Dywizjonu 303 62F, Kraków</p>
      </div>
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#icon-email"></use>
        </svg>
        <a href="mailto:sterylserwis@gmail.com">sterylserwis@gmail.com</a>
      </div>
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#phone-call"></use>
        </svg>
        <a href="tel:+48739015287">+48 739 015 287</a>
      </div>
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#clock"></use>
        </svg>
        <p class="menu-address">pon-pt: 10:00 - 18:00</p>
      </div>
    </div>
  </div>
</div>
<div class="backdrop-overlay"></div>
