<div class="backdrop is-open">
  <div class="container mob-menu-container">
    <div class="menu-header">
      <button class="menu-close-btn" type="button">
        <svg width="12" height="12" class="menu-close-icon">
          <use href="./img/icons.svg#close_icon"></use>
        </svg>
      </button>
    </div>
    <nav class="mob-menu">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">O nas</li>
        <li class="mob-menu-item">Oferta</li>
        <li class="mob-menu-item">wysyłka</li>
        <li class="mob-menu-item">FAQ</li>
        <li class="mob-menu-item">Kontakt</li>
      </ul>
    </nav>
	 <div class="line-decorator"></div>
    <div class="mob-menu-contacts">
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#house_contacts"></use>
        </svg>
        <p class="menu-address">os. Dywizjonu 303 62F, Kraków</p>
      </div>
		 <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#icon-email"></use>
        </svg>
        <p class="menu-address">sterylserwis@gmail.com</p>
      </div>
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#phone-call"></use>
        </svg>
        <p class="menu-address">+48 739 015 287</p>
      </div>
      <div class="menu-address-wrap">
        <svg width="12" height="12" class="menu-address-icon">
          <use href="./img/icons.svg#clock"></use>
        </svg>
        <p class="menu-address">pon-pt: 10:00 - 18:00</p>
      </div>
    </div>
  </div>
</div>
