<div class="modal" id="modal">
  <div class="modal-content">
    <button class="modal-close-btn" type="button" id="close-modal">
      <svg width="8" height="8" class="modal-close-icon">
        <use href="./img/icons.svg#close_icon"></use>
      </svg>
    </button>
    <!-- <button class="close-modal-btn" id="close-modal">&times;</button> -->
    <h2 class="modal-title">Formularz zamówienia</h2>

    <form id="modal-form" class="modal-form" method="POST">
      <input
        type="hidden"
        name="access_key"
        value="674a91e4-cb0e-4621-a6fe-33522af79ee4"
      />
      <input
        type="hidden"
        name="Nazwa_formularzu"
        value="Formularz zamówienia abonamentu"
      />
      <div class="modal-radio-group">
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Typ_klienta"
            value="Firma"
            class="modal-radio"
            checked
          />
          Firma
        </label>
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Typ_klienta"
            value="Osoba prywatna"
            class="modal-radio"
          />
          Osoba prywatna
        </label>
      </div>

      <!-- Поля форми -->
      <div class="modal-form-group">
        <label for="company-name" class="modal-input-lable">Nazwa firmy</label>
        <input
          type="text"
          id="company-name"
          name="Nazwa_firmy"
          class="modal-input"
          required
          disabled
        />
      </div>
      <div class="modal-form-group">
        <label for="full-name" class="modal-input-lable">Imię i nazwisko</label>
        <input
          type="text"
          id="full-name"
          name="Imie_i_nazwisko"
          class="modal-input"
          required
          disabled
        />
      </div>
      <div class="modal-form-group">
        <label for="nip" class="modal-input-lable">NIP</label>
        <input
          type="number"
          id="nip"
          name="Nip"
          class="modal-input"
          required
          disabled
        />
      </div>
      <div class="modal-form-group">
        <label for="pesel" class="modal-input-lable">PESEL</label>
        <input
          type="number"
          id="pesel"
          name="Pesel"
          class="modal-input"
          required
          disabled
        />
      </div>
      <div class="modal-form-group">
        <label for="address" class="modal-input-lable">Adres</label>
        <input
          type="text"
          id="address"
          name="Adres"
          class="modal-input"
          required
        />
      </div>
      <div class="modal-form-group">
        <label for="phone" class="modal-input-lable">Telefon</label>
        <input
          type="tel"
          id="phone"
          name="Telefon"
          class="modal-input"
          required
        />
      </div>
      <div class="modal-form-group">
        <label for="email" class="modal-input-lable">Email</label>
        <input
          type="email"
          id="email"
          name="Email"
          class="modal-input"
          required
        />
      </div>

      <!-- Радіокнопки для інструментів -->
      <p class="modal-radio-title">Potrzebuję sterylizować narzędzia:</p>
      <div class="modal-radio-group">
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Rodzaj_narzędzi"
            value="kosmetyczne"
            class="modal-radio"
            checked
          />
          Kosmetyczne
        </label>
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Rodzaj_narzędzi"
            value="medyczne"
            class="modal-radio"
          />
          Medyczne
        </label>
      </div>

      <!-- Радіокнопки для доставки -->
      <p class="modal-radio-title">Sposób dostawy narzedzi:</p>
      <div class="modal-radio-group">
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Dostarczenie"
            value="osobiscie"
            class="modal-radio"
            checked
          />
          Osobiście
        </label>
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Dostarczenie"
            value="kurier"
            class="modal-radio"
          />
          Nasz kurier w Krakowie
        </label>
        <label class="modal-radio-lable">
          <input
            type="radio"
            name="Dostarczenie"
            value="paczkomat"
            class="modal-radio"
          />
          Paczkomat InPost
        </label>
      </div>

      <div class="modal-form-group">
        <label for="start-date" class="modal-input-lable"
          >Data rozpoczęcia współpracy</label
        >
        <input
          type="date"
          id="start-date"
          name="Data_rozpoczecia"
          class="modal-input"
          required
        />
      </div>

      <!-- Повідомлення -->
      <div class="modal-form-group">
        <label for="message" class="modal-input-lable">Wiadomość</label>
        <textarea
          id="message"
          name="Wiadomosc"
          class="modal-textarea"
        ></textarea>
      </div>
      <div class="checkbox-modal">
        <input
          type="checkbox"
          id="accept"
          name="Private-policy"
          class="form-policy-checkbox"
          required
        />
        <label for="accept" class="modal-policy-text">
          Akceptuję
          <a href="../private_policy.html"
            ><span class="modal-policy-link">politykę prywatności</span></a
          >
        </label>
      </div>

      <!-- <div
        class="g-recaptcha"
        aria-colcount="form-recaptcha"
        data-sitekey="6LeDwboqAAAAAHdOumqEOqO8lvrYerEjCe04hBoq"
        data-action="LOGIN"
      ></div> -->

      <div id="modal-status" class="modal-status hidden">
        <p id="modal-status-message"></p>
      </div>

      <!-- Кнопка відправлення -->
      <button type="submit" class="form-btn button">Wyślij</button>
    </form>
  </div>
</div>
