<section class="section-offer" id="offer">
  <div class="container offer-container">
    <h2 class="title offer-title">OFEROWANE ABONAMENTY</h2>
    <p class="offer-text">Podane niżej ceny są cenami brutto.</p>
    <ul class="offer-list">
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 20</h3>
        <p class="offer-item-price">110,00 zł/mies</p>
        <p class="offer-item-text">
          do 20 pakietów na miesiąc <br />
          koszt 1 pakietu 5,50 zł
        </p>
        <a href="#" class="offer-item-btn button" data-abonament="STERYL 20"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 30</h3>
        <p class="offer-item-price">140,00 zł/mies</p>
        <p class="offer-item-text">
          do 30 pakietów na miesiąc <br />
          koszt 1 pakietu 4,67 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 30"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 50</h3>
        <p class="offer-item-price">210,00 zł/mies</p>
        <p class="offer-item-text">
          do 50 pakietów na miesiąc <br />
          koszt 1 pakietu 4,20 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 50"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 100</h3>
        <p class="offer-item-price">300,00 zł/mies</p>
        <p class="offer-item-text">
          do 100 pakietów na miesiąc <br />
          koszt 1 pakietu 3,00 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 100"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 150</h3>
        <p class="offer-item-price">360,00 zł/mies</p>
        <p class="offer-item-text">
          do 150 pakietów na miesiąc <br />
          koszt 1 pakietu 2,40 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 150"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 200</h3>
        <p class="offer-item-price">430,00 zł/mies</p>
        <p class="offer-item-text">
          do 200 pakietów na miesiąc <br />
          koszt 1 pakietu 2,15 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 200"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 300</h3>
        <p class="offer-item-price">550,00 zł/mies</p>
        <p class="offer-item-text">
          do 30 pakietów na miesiąc <br />
          koszt 1 pakietu 1,83 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 300"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item">
        <h3 class="offer-item-title">STERYL 500</h3>
        <p class="offer-item-price">780,00 zł/mies</p>
        <p class="offer-item-text">
          do 500 pakietów na miesiąc <br />
          koszt 1 pakietu 1,56 zł
        </p>
        <a href="" class="offer-item-btn button" data-abonament="STERYL 500"
          >ZAMAWIAM</a
        >
      </li>
      <li class="offer-list-item na-sztuki-item">
        <h3 class="offer-item-title">NA SZTUKI</h3>
        <p class="offer-item-price">6,00 zł/pakiet</p>
        <p class="offer-item-text">bez podpisania umowy</p>
        <!-- <a href="" class="offer-item-btn button" data-abonament="NA SZTUKI">ZAMAWIAM</a> -->
      </li>
    </ul>
  </div>
</section>
