<section class="shipping-section" id="shipping">
  <div class="container">
    <h2 class="title shipping-title">WYSYŁKA NARZĘDZI NA CAŁĄ POLSKĘ</h2>
    <p class="shipping-text">
      Nie ważne, jak daleko od Krakowa znajduje się Twój gabinet — nasze usługi
      sterylizacji są dostępne dla klientów w całej Polsce! Obsługujemy gabinety
      kosmetyczne, medyczne oraz osoby prywatne z różnych regionów kraju,
      oferując szybkie i wygodne rozwiązania wysyłkowe. Wystarczy, że nadasz
      paczkę z narzędziami za pośrednictwem aplikacji InPost. Po dotarciu
      przesyłki do naszego paczkomatu natychmiast przystępujemy do procesu
      dezynfekcji i sterylizacji. Już w ciągu 24 godzin od odbioru paczki Twoje
      narzędzia zostaną starannie zapakowane i odesłane do wskazanego przez
      Ciebie paczkomatu InPost, w pełni gotowe do bezpiecznego użytku.
    </p>
    <picture>
      <source
        srcset="
          ./img/shipping/paczkomat_dt_1x.png 1x,
          ./img/shipping/paczkomat_dt_2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/shipping/paczkomat_dt_1x.png 1x,
          ./img/shipping/paczkomat_dt_2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./img/shipping/paczkomat_mob_1x.png 1x,
          ./img/shipping/paczkomat_mob_2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/shipping/paczkomat_mob_1x.png 1x,
          ./img/shipping/paczkomat_mob_2x.png 2x
        "
        media="(min-width: 360px)"
      />
      <img
        src="./img/shipping/paczkomat_mob_1x.png"
        alt="Paczkoamat InPost"
        class="shipping-img"
      />
    </picture>
    <p class="shipping-text">
      Przed wysyłką zadbamy o to, by narzędzia były starannie zabezpieczone, co
      gwarantuje ich nienaruszony stan podczas transportu. Współpracując z nami,
      możesz być pewien, że Twoje narzędzia będą gotowe do użytku w najkrótszym
      możliwym czasie!
    </p>
  </div>
</section>
