<section class="tools-section" id="what">
  <div class="container container-tools">
    <h2 class="title tools-title">CO STERYLIZUJEMY</h2>
    <p class="tools-text">
      W autoklawie parowym sterylizujemy narzędzia i wyroby, które mają kontakt
      z krwią, płynami ustrojowymi lub naruszają ciągłość tkanek. Powinny one
      być wykonane z materiałów odpornych na wysoką temperaturę i ciśnienie,
      takich jak stal nierdzewna, szkło medyczne czy wysokiej jakości tworzywa
      sztuczne. Informacja o możliwości sterylizacji narzędzia powinna być
      zawarta w instrukcji dostarczonej przez producenta. Tylko takie narzędzia
      mogą zostać poddane skutecznej sterylizacji, która zapewnia pełną jałowość
      i bezpieczeństwo użytkowania.
    </p>
    <div class="tools-list-wrapper">
    	<ul class="tools-list">
	      <li class="tools-list-item">
	        <div class="card">
	          <div class="card-front">DLA GABINETÓW KOSMETYCZNYCH</div>
	          <div class="card-back">
	            <ul class="card-back-list">
	              <li class="card-back-item">cążki, cęgi oraz nożyczki</li>
	              <li class="card-back-item">frezy, trzpienie frezarskie</li>
	              <li class="card-back-item">radełka, kopytka, sondy podologiczne</li>
	              <li class="card-back-item">pęsety, łyżeczki UNO</li>
	              <li class="card-back-item">narzędzia do piercingu</li>
	              <li class="card-back-item">końcówki do mikrodermabrazji</li>
	            </ul>
	          </div>
	        </div>
	      </li>
	
	      <li class="tools-list-item">
	        <div class="card">
	          <div class="card-front">DLA PODMIOTÓW MEDYCZNYCH</div>
	          <div class="card-back">
	            <ul class="card-back-list">
	              <li class="card-back-item">narzędzia chirurgiczne</li>
	              <li class="card-back-item">końcówki stomatologiczne</li>
	              <li class="card-back-item">narzędzia laryngologiczne</li>
	              <li class="card-back-item">narzędzia ginekologiczne</li>
	            </ul>
	          </div>
	        </div>
	      </li>
	    </ul>
    </div>
  </div>
</section>
