<section class="tools-section" id="what">
  <div class="container">
    <h2 class="title tools-title">CO STERYLIZUJEMY</h2>
    <p class="tools-text">
      W autoklawie parowym sterylizujemy narzędzia i wyroby, które mają kontakt
      z krwią, płynami ustrojowymi lub naruszają ciągłość tkanek. Powinny one
      być wykonane z materiałów odpornych na wysoką temperat urę i ciśnienie,
      takich jak stal nierdzewna, szkło medyczne czy wysokiej jakości tworzywa
      sztuczne. Informacja o możliwości sterylizacji narzędzia powinna być
      zawarta w instrukcji dostarczonej przez producenta. Tylko takie narzędzia
      mogą zostać poddane skutecznej sterylizacji, która zapewnia pełną jałowość
      i bezpieczeństwo użytkowania.
    </p>
    <ul class="tools-list">
      <li class="tools-list-item">DLA GABINETÓW KOSMETYCZNYCH</li>
      <li class="tools-list-item">DLA GABINETÓW MEDYCZNYCH</li>
    </ul>
  </div>
</section>
