.about-section {
  background-color: #4d8680;
  padding-top: 100px;
  padding-bottom: 160px;
}
.about-title {
  color: #fff;
}
.about-text {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  text-indent: 30px;
  font-family: 'Open Sans', sans-serif;
}
.about-img {
  padding: 40px 0 40px 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .about-section {
    background-color: #4d8680;
    padding-bottom: 160px;
    padding-top: 180px;
	 margin-top: -80px;
  }
  .about-section {
    padding-bottom: 180px;
  }
  .about-text {
    line-height: 36px;
  }
  .about-img {
    padding: 50px 0 50px 0;
    margin: 0 auto;
    width: 330px;
  }
}
 