.advantages-section {
  margin-top: -160px;
  padding-top: 80px;
}
.advantages-content {
  background-color: #31524e;
  padding: 24px 16px;
  border-radius: 20px;
}
.advantages-items-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
}
.title-adv {
  font-family: Montserrat, sans-serif;
  line-height: 36px;
  font-weight: 600;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0.6;
  margin: 0;
  margin-left: auto;
  margin-bottom: 24px;
}
.advantages-item {
  font-family: 'Open Sans', sans-serif;
  background-color: #dff6f4;
  padding: 16px;
  border-radius: 20px;
}
.cert-item,
.dla-firm-item,
.h24-item {
  display: none;
}
.advantages-item-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
  text-indent: 0;
}
.advantages-item-text {
  font-size: 16px;
  text-indent: 0;
  line-height: 24px;
  text-align: left;
}
.advantages-bg-img {
  width: 70%;
  max-width: 300px;
  margin: 24px;
}
.advantages-item-btn {
  background-color: #31524e;
  border: 2px solid #31524e;
  color: #fff;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-item-btn:hover,
.advantages-item-btn:focus {
  background-color: #dff6f4;
  color: #333;
}

@media only screen and (min-width: 768px) {
  .advantages-section {
    margin-top: -200px;
    padding-top: 120px;
  }
  .advantages-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 24px;
    border-radius: 30px;
  }
  .advantages-items-wrap {
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .title-adv {
    line-height: 50px;
    font-size: 32px;
  }
  .advantages-item {
    flex: 1 1 calc(50% - 12px); /* 3 елементи в ряд */
    max-width: calc(50% - 12px);
    padding: 16px;
    border-radius: 20px;
    height: auto;
    box-sizing: border-box;
  }
  .cert-item,
  .dla-firm-item,
  .h24-item {
    display: block;
  }
  .advantages-bg-img {
    width: 100%;
    max-width: 300px;
    margin: 32px 200px 32px 72px;
  }
  .advantages-cert-img {
    position: absolute;
    bottom: 0;
    left: 24px;
	 opacity: 0.7;
	 width: 45%;
  }
  .od-100zl-item {
    margin-left: auto;
  }
}
