.advantages-section {
  margin-top: -160px;
  padding-top: 80px;
}
.advantages-content {
  background-color: #31524e;
  padding: 24px 16px 24px 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
}
.title-adv {
  font-family: Montserrat, sans-serif;
  line-height: 36px;
  font-weight: 600;
  text-align: right;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0.6;
  margin: 0;
  margin-left: auto;
  margin-bottom: 24px;
}
.advantages-item {
  font-family: 'Open Sans', sans-serif;
  background-color: #dff6f4;
  padding: 16px;
  border-radius: 20px;
}
.advantages-item-title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
  text-indent: 0;
}
.advantages-item-text {
  font-size: 16px;
  text-indent: 0;
  line-height: 24px;
  text-align: left;
}
.advantages-bg-img {
  width: 70%;
  max-width: 300px;
  margin: 24px;
}
.advantages-item-btn {
  background-color: #31524e;
  border: 2px solid #31524e;
  color: #fff;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-item-btn:hover,
.advantages-item-btn:focus {
  background-color: #dff6f4;
  color: #333;
}
