:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
}

h1,
h2 {
  line-height: 36px;
  letter-spacing: 0.03em;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 32px 0 32px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 32px 0 32px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 32px 0 32px;
    margin: 0 auto;
  }
}
