.faq-section {
  padding-top: 60px;
}
.faq-container {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #31524e;
  border-radius: 20px 20px 0 0;
}

.faq-title {
  color: #fff;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  flex-wrap: nowrap;
}
.faq-item {
  line-height: 1.2;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.faq-item-wrap {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  overflow: visible;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.faq-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: #c8fffa;
  flex-shrink: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item-icon::before {
  content: '\002B'; /* Плюс */
  font-size: 32px;
  font-weight: 800;
  color: #c8fffa;
  transition: transform 0.3s ease, color 0.3s ease;
}
.faq-item.open .faq-item-icon::before {
  content: '\2212'; /* Мінус */
  font-size: 32px;
  font-weight: 900;
  color: #c8fffa;
}
.faq-item.open .faq-item-icon::before {
 
}

.faq-item-answer {
  display: none;
  padding: 12px;
  border-radius: 0 0 10px 10px;
  margin-left: 32px;
  max-height: 0;
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
  letter-spacing: 0.03em;
  background-color: #4d8680;
  color: #fff;
  overflow: hidden;
  transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item.open .faq-item-answer {
  display: block;
  animation: expand 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 500px;
}
@keyframes expand {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.faq-item:hover .faq-item-text,
.faq-item:focus .faq-item-text,
.faq-item.open .faq-item-text {
  background-color: #4d8680;
  color: #fff;
}

.faq-item.open .faq-item-text {
  border-radius: 10px 10px 0 0;
}

.faq-item-text {
  background-color: #c8fffa;
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-decorator {
  width: 40px;
  border-bottom: 2px dotted #fff;
  margin-bottom: 16px;
}
