.container-header-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100svh;
}

.header {
  flex-shrink: 0;
}
.container {
}
.header-container {
}
.header-content {
}
.header-top {
  background-color: #4d8680;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.header-top-content {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  max-width: 200px;
}
.burger-menu-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 6px;
  padding: 4px;
  box-sizing: border-box;
}
.burger-menu-wrap:hover,
.burger-menu-wrap:focus {
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.burger-menu-wrap:hover .burger-menu,
.burger-menu-wrap:focus .burger-menu {
  fill: #4d8680;
}

.burger-menu {
  cursor: pointer;
  fill: #ffffff;
  display: block;
  width: 24px;
  height: 24px;
  align-self: center;
}
.burger-menu:hover,
.burger-menu:focus {
  fill: #4d8680;
}
.header-bottom {
  padding-top: 24px;
  padding-bottom: 24px;
}
.title-main {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: px;
  padding-bottom: 16px;
  max-width: 90%;
  margin: 0 auto;
}
.header-subtitle {
  text-align: center;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  max-width: 320px;
  margin: 0 auto;
}
.green-text {
  color: #4d8680;
}
