.container-header-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
}
.header {
  flex-shrink: 0;
}
.header-address-line {
  display: none;
}
.header-top {
  background-color: #4d8680;
  width: 100%;
  border-radius: 0 0 20px 20px;
  position: fixed; /* Закріплює хедер на верхній частині */
  top: 0; /* Приклеює до верхньої частини екрану */
  left: 0;
  z-index: 5; /* Вищий рівень, щоб хедер не перекривався іншими елементами */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Легка тінь для хедера */
}
.header-top-content {
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  max-width: 200px;
}
.header-contact {
  display: none;
}
.burger-menu-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 6px;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  fill: #fff;
}
.burger-menu-wrap:hover,
.burger-menu-wrap:focus {
  background-color: #fff;
}
.burger-menu-wrap:hover .header-icon,
.burger-menu-wrap:focus .header-icon {
  fill: #4d8680;
}

.burger-menu {
  cursor: pointer;
  fill: #ffffff;
  display: block;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu:hover,
.burger-menu:focus {
  fill: #4d8680;
}
.menu {
  display: none;
}
.header-bottom {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-top: 100px;
}
.title-main {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: px;
  padding-bottom: 16px;
  max-width: 90%;
  margin: 0 auto;
}
.header-subtitle {
  text-align: center;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  max-width: 320px;
  margin: 0 auto;
}
.green-text {
  color: #4d8680;
}

@media only screen and (min-width: 768px) {
  .header-address-line {
    padding: 4px 32px 4px 32px;
    background-color: #31524e;
    height: auto;
    color: #fff;
    font-size: 14px;
    max-width: 100%;
    display: block;
  }
  .address-line-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .header-adress {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .top-header-icon {
    fill: #fff;
    flex: 1;
    width: 100%;
  }
  .header-shedule {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .header-top {
    border-radius: 0 0 30px 30px;
  }
  .header-top-content {
    height: auto;
    padding: 16px 0;
    max-width: 100%;
  }
  .header-logo {
    max-width: 100px;
  }
  .burger-menu-wrap {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #fff;
    margin-left: 24px;
  }
  .header-menu-item {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
	 transition: border-bottom 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-item:hover,
  .header-menu-item:focus {
   border-bottom: 3px solid #fff;
  }
  .co-item {
    display: none;
  }
  .header-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
  .title-wrap {
    position: absolute;
    top: 35%;
  }
  .title-main {
    display: block;
    max-width: 550px;
    font-size: 32px;
    line-height: 46px;
    font-weight: 600;
    text-align: left;
  }
  .header-subtitle {
    max-width: 320px;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    max-width: 250px;
    margin: 0;
  }
}


@media only screen and (min-width: 1200px) {
  .container-header-hero {
    justify-content: flex-start;
    height: 105vh;
  }
  .header-container {
    margin: 0 auto;
  }
  .address-line-content {
    font-size: 16px;
    padding: 0 32px 0 32px;
    max-width: 1200px;
  }
  .header-logo {
    max-width: 100px;
    flex: 0 0 auto;
  }
  .header-top {
    border-radius: 0 0 40px 40px;
  }
  .header-top-content {
    display: flex;
    align-items: center;
  }
  .menu {
    display: block;
    flex: 1 1 auto;
    text-align: center;
  }
  .header-menu {
    gap: 32px;
    display: inline-flex;
  }
  .header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-tel {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-tel-icon {
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact:hover,
  .header-contact:focus {
    background-color: #fff;
    color: #4d8680;
  }
  .header-contact:hover .header-tel {
    color: #4d8680;
  }
  .header-contact:focus .header-tel {
    color: #4d8680;
  }
  .header-contact:hover .header-tel-icon {
    fill: #4d8680;
  }
  .header-contact:focus .header-tel-icon {
    fill: #4d8680;
  }
  .header-tel-icon {
    margin-right: 8px;
  }
  .title-main {
    max-width: 600px;
    font-size: 42px;
    line-height: 54px;
  }
  .header-subtitle {
    max-width: 400px;
    font-size: 22px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .address-line-content {
    max-width: 1440px;
  }
    .co-item {
    display: block;
}
}