.hero-section {
  border-top: 3px solid #4d8680;
  width: 100%;
  height: 500px;
  background-image: url('../img/hero/Hero_bg_mob_1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
}
.container {
}
.hero-bg {
  height: 470px;
  width: 100;
}
.hero-contact-wrap {
  background-color: #4d8680;
  /* height: 100px; */
  border-radius: 20px 20px 0 0;
  padding: 20px;
}
.hero-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 0 auto;
}
.burger-menu {
  margin-right: 8px;
}
.hero-tel {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.03em;
}
