.how-section {
  padding-top: 100px;
}
.how-container {
  padding-top: 40px;
  background-color: #31524e;
  border-radius: 20px 20px 0 0;
  /* padding-bottom: 40px; */
}
.how-title {
  color: #fff;
}
.how-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.how-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 8px;
  padding-right: 2px;
  background-color: #4d8680;
  border-radius: 0 30px 30px 0;
  font-size: 16px;
}
.how-item-title {
  color: #fff;
  max-width: 70%;
  font-weight: 500;
}
.how-item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  background-color: #d9d9d9;
  padding: 8px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
