.backdrop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.backdrop {
  width: 80%;
  height: 100svh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4d8680;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}
.backdrop.is-open {
  right: 0;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.is-open + .backdrop-overlay {
  opacity: 1;
  visibility: visible;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 80%;
  height: 100%;
  padding: 16px;
  padding-left: 30px;
  transition: transform 0.3s ease;
}

.menu-header {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

.menu-close-btn {
  position: relative;
  padding: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box; /* Включає рамку в розміри */
  -webkit-appearance: none; /* Скидає стилі iOS */
  -webkit-transform: translateZ(0); /* Виправляє проблеми з рендерингом */
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #fff;
}

.menu-close-icon {
  fill: #fff;
  width: 8px; /* Ширина і висота іконки */
  height: 8px;
  display: block;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  fill: #4d8680;
}

.mob-menu {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  margin-top: 80px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-transform: uppercase;
  color: #fff;
}
.line-decorator {
  width: 40px;
  border-bottom: 2px dotted #fff;
  margin-bottom: 16px;
}

.mob-menu-contacts {
  color: #fff;
  font-size: 13px;
  flex-shrink: 0;
}

.menu-address-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.menu-address-icon {
  fill: #fff;
  width: 12px;
  height: 12px;
}

.menu-address {
  margin: 0;
}
