.modal {
  display: none;
  position: fixed;
  bottom: -100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: flex-end;
}

.modal.active {
  display: flex;
  /* bottom: 0; */
}
.close-modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 3px solid #4d8680;
  border-radius: 20px;
  padding: 16px;
  max-width: 95%;
  overflow-y: auto;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #4d8680;
  text-align: center;
  margin-bottom: 24px;
}

.modal-form {
}
.modal-radio-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}
.modal-radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: row;
  margin-bottom: 16px;
}
.modal-radio-lable {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.modal-radio {
}
.modal-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal-input-lable {
}
.modal-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.radio-group {
}
.modal-textarea {
  margin-bottom: 16px;
  resize: vertical;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100px;
  width: 100%;
}
.modal-policy-text {
  color: #333;
}
.modal-policy-link {
  color: #5680d3;
  cursor: pointer;
  text-decoration: underline;
}
.form-btn {
  margin: 0;
  width: 120px;
  border: 2px solid #4d8680;
  background-color: #4d8680;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  margin-top: 16px;
  margin: 0;
  width: 120px;
  background-color: #fff;
  color: #4d8680;
  text-transform: uppercase;
}
@keyframes slide-up {
  from {
    transform: translateY(100%); /* Початкове положення */
    opacity: 0; /* Початкова прозорість */
  }
  to {
    transform: translateY(0); /* Кінцеве положення */
    opacity: 1; /* Кінцева прозорість */
  }
}
