.modal {
  display: none;
  position: fixed;
  bottom: -100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  justify-content: center;
  align-items: flex-start;
  /* overflow-y: auto; */
  overflow-x: hidden;
}

.modal.active {
  display: flex;
  bottom: 0;
  animation: fade-in 0.3s ease-in-out;
}
/* .close-modal-btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 21;
  } */
.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid #4d8680;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box; /* Включає рамку в розміри */
  -webkit-appearance: none; /* Скидає стилі iOS */
  -webkit-transform: translateZ(0); /* Виправляє проблеми з рендерингом */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #4d8680;
}

.modal-close-icon {
  fill: #4d8680;
  width: 8px; /* Ширина і висота іконки */
  height: 8px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border: 3px solid #4d8680;
  border-radius: 20px;
  padding: 16px;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 95%;
  max-height: 95vh;
  margin-top: 3vh;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #4d8680;
  text-align: center;
  margin-bottom: 24px;
}

.modal-form {
}
.modal-radio-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}
.modal-radio-group {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 16px;
  flex-direction: row;
  margin-bottom: 16px;
}
.modal-radio-lable {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.modal-radio {
  align-self: center;
}
.modal-form-group {
  display: flex;
  flex-direction: column;
}
.modal-input-lable {
}
.modal-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  background-color: #c8fffa;
}
.radio-group {
}
.modal-textarea {
  margin-bottom: 8px;
  resize: vertical;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}
.modal-textarea:hover,
.modal-textarea:focus {
  background-color: #c8fffa;
}
.checkbox-modal {
  margin: 0 8px;
}

.modal-policy-text {
  color: #333;
}
.modal-policy-link {
  color: #5680d3;
  cursor: pointer;
  /* text-decoration: underline; */
}
.modal-policy-link:hover,
.modal-policy-link:focus {
  color: #4267b2;
  text-decoration: underline;
}
.checkbox-modal:hover .modal-policy-link,
.checkbox-modal:focus .modal-policy-link {
  color: #4267b2;
  text-decoration: underline;
}
.form-btn {
  margin: 0;
  width: 120px;
  border: 2px solid #4d8680;
  background-color: #4d8680;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  margin-top: 16px;
  margin: 0;
  width: 120px;
  background-color: #fff;
  color: #4d8680;
  text-transform: uppercase;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(
      20px
    ); /* Початкове положення модального вікна, щоб уникнути того, щоб воно перелітало верх */
  }
  to {
    transform: translateY(0);
  }
}
