.section-offer {
  background-color: #31524e;
}

.offer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.offer-title {
  color: #fff;
}
.offer-text {
  color: #fff;
  margin-bottom: 24px;
  text-indent: 30px;
}
.offer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
}
.offer-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dff6f4;
  width: 100%;
  padding: 16px 0;
  border-radius: 20px;
  border: 2px solid #4d8680;
}
.offer-item-title {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  letter-spacing: 0.15em;
  color: #4d8680;
  text-decoration: underline;
  margin: 0 auto;
}
.offer-item-price {
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 8px 0;
  color: #fff;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 600;
  background-color: #4d8680;
  text-align: center;
}
.offer-item-text {
  text-align: center;
  max-width: 280px;
  font-weight: 600;
  padding-bottom: 16px;
}
.offer-item-btn {
  color: #fff;
  background-color: #4d8680;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #4d8680;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer-item-btn:hover,
.offer-item-btn:focus {
  color: #4d8680;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .offer-container {
    padding-bottom: 130px;
  }
  .offer-container {
    padding-top: 180px;
    margin-top: -80px;
  }
  .offer-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .offer-list-item {
    flex: 1 1 calc(50% - 12px); /* 2 елементи в ряд */
    max-width: calc(50% - 12px);
  }
  .na-sztuki-item {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
	.offer-container {
    padding-bottom: 180px;
  }
	.offer-list-item {
    flex: 1 1 calc(25% - 18px); /* 2 елементи в ряд */
    max-width: calc(25% - 18px);
  }
  .na-sztuki-item{
	max-width: 500px;
  }
}
