h1,
h2,
h3 {
  color: #31524e;
}
.policy-container {
  padding-top: 40px;
}
h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
  text-align: justify;
}
ul {
  margin-left: 20px;
  margin-bottom: 15px;
}
a {
  color: #31524e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
}
