.shipping-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.shipping-text-one,
.shipping-text-two-mob,
.shipping-text-two-dt {
  text-indent: 30px;
  text-align: justify;
}
.shipping-text-two-dt{
	display: none;
}
.shipping-img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .shipping-section {
    padding-top: 180px;
    margin-top: -80px;
  }
  .shipping-img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .shipping-section {
    padding-top: 180px;
    margin-top: 0;
  }
  .shipping-content-wrapper {
    display: flex;
    align-items: center;
  }
  .shipping-img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex: 0 0;
  }
  .shipping-text-wrapper{
	  text-indent: 30px;
	  margin-right: 40px;
	  text-align: justify;
	  flex: 1 1;

  }
  .shipping-text-two-mob {
	display: none;
  }
}
